
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to playcodewords.com, <%= @user.name %></h1>
    <p>
      You have successfully entered a game,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a fun!</p>
  </body>
</html>