<main>
  This is the server application for
  <a href="http://playcodewords.com">Codewords</a>, an online card game inspired
  by <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)" title="Codenames entry on Wikipedia">Codenames</a>
  and lovingly built by the following fine people, in no particular order:
  <ul>
  <% @developers.shuffle.each do |dev| %>
    <li>
      <a href="https://github.com/<%= dev[:github] %>"
         title="Github user @<%= dev[:github] %>"><%= dev[:name] %></a>
    </li>
  <% end %>
  </ul>

  The game is open source, and
  <a href="https://github.com/code-words/" title="Codewords organization on Github">available on Github</a>
  under <a href="https://github.com/code-words/codewords-server/blob/master/LICENSE">the MIT license</a>.
</main>
